{% extends "dashboard/base.html" %}
{% block content %}

<div class="container-fluid px-4">
    <ol class="breadcrumb mt-3 mb-4">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Secret Password</li>
    </ol>
    <div class="row">
        <h2>One Time Secret Password</h2>

        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-success link-opacity-50-hover" href="{% url 'create_secret' %}">➕ Buat Secret Baru</a>
            </div>
            <div class="card-body">
                <div class="row">
                    {% comment %} <div class="col-6">
                        <a class="btn btn-secondary btn-lg" href="{% url 'export_user_logs' %}">Ekspor CSV</a>
                    </div> {% endcomment %}
                    <div class="col-12">
                        <h2 class="mb-4">🎉 Secret Telah Dibuat</h2>

                        <div class="mb-3">
                            <label for="secretLink" class="form-label">Link Rahasia:</label>
                            <input type="text" id="secretLink" class="form-control" value="{{ link }}" readonly>
                        </div>

                        <button class="btn btn-success mb-3" onclick="copyLink()">📋 Salin Link</button>

                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>

</div>
<script>
function copyLink() {
    var copyText = document.getElementById("secretLink");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // Untuk mobile
    document.execCommand("copy");
    alert("Link telah disalin: " + copyText.value);
}
</script>
{% endblock content %}