{% extends "dashboard/base.html" %}
{% block content %}

<div class="container-fluid px-4">
    <ol class="breadcrumb mt-3 mb-4">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'news_app:list' %}">Portofolio</a></li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <div class="row">
        <div class="card rounded-3 mt-4">
            {% comment %} <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                <h5 class="mb-0">📖 News Lists</h5>
                <div class="text-black py-2 px-4 rounded-pill mt-2 mt-md-0">
                        <a href="{% url 'news_app:generator' %}" class="text-success fw-bold">
                                + Buat Berita Baru
                            </a>
                    </div>
            </div> {% endcomment %}
            <div class="card-body">
                <div class="row">
                    <div class="bg-white rounded-xl shadow-lg p-6 md:p-10 w-full max-w-4xl">
                        <div class="flex justify-between items-center mb-6">
                            <h1 class="text-3xl font-bold text-center text-gray-800">Create New</h1>
                            <a href="{% url 'portfolio_index' %}" class="flex items-center text-indigo-600 hover:text-indigo-800 font-medium">
                                Kembali
                            </a>
                        </div>

                        <h1>Buat Portofolio Online Anda</h1>
                        <form  method="post" enctype="multipart/form-data" class="space-y-6">
                            {% csrf_token %}
                            
                            <fieldset>
                                <legend>Informasi Pribadi</legend>
                                {{ form.as_p }}
                            </fieldset>

                            <fieldset class="formset-section">
                                <legend>Pengalaman Kerja</legend>
                                {{ experience_formset.management_form }}
                                {% for form in experience_formset %}
                                    <div class="form-instance">{{ form.as_p }}<hr></div>
                                {% endfor %}
                            </fieldset>

                            <fieldset class="formset-section">
                                <legend>Pendidikan</legend>
                                {{ education_formset.management_form }}
                                {% for form in education_formset %}
                                    <div class="form-instance">{{ form.as_p }}<hr></div>
                                {% endfor %}
                            </fieldset>

                            <fieldset class="formset-section">
                                <legend>Proyek</legend>
                                {{ project_formset.management_form }}
                                {% for form in project_formset %}
                                    <div class="form-instance">{{ form.as_p }}<hr></div>
                                {% endfor %}
                            </fieldset>

                            <button type="submit" id="submit-btn" class="btn btn-success mt-3 mb-3 w-full md:w-auto border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                <div class="flex items-center justify-center">
                                    <span id="btn-text">Generate Portofolio</span>
                                </div>
                            </button>
                            <a href="{% url 'portfolio_index' %}" class="btn btn-warning mt-3 mb-3 w-full md:w-auto border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                Batal
                            </a>
                        </form>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
    </div>

</div>


{% comment %} {{div|safe}}     {% endcomment %}
{% endblock content %}